body {
    background-color: #128dd4;
}

form {
    margin: auto;
}

legend {
    font-weight: 800;
    margin-bottom: 20px;
    color: #128dd4;
}

label,p {
    font-weight: 700;
    color: #128dd4;
}

small {
    color: #888888;
}

.form {
    border: 5px solid #FFF;
    background-color: #faebd7;
    text-align: center;
    margin-top: 100px;
    padding: 20px 0px;
    border-radius: 30px;
}

.form-control {
    width: 50%;
    margin: auto;
}

.btn {
    color: #faebd7;
}

.btn-info {
    margin-bottom: 10px;
}

.message {
	color: #faebd7;	
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 30px;
	font-weight: bolder;
	width: 50%;
	text-align: center;
}

.return-link, .return-link:hover {
    text-decoration: none;
    color: #128dd4;
}

.return-button {
    background-color: antiquewhite;
}

.return-button:hover {
    background-color: antiquewhite;
}