body {
    background-color: antiquewhite;
}

nav {
    background-color: #47939e;
    line-height: 60px;
    border-bottom: 5px solid antiquewhite;
}

nav [class*='col-'] {
    border-left: 2px solid antiquewhite;
    text-align: center;
}

th {
    background-color: rgb(61, 136, 206);
}

.container {
    background-color: #138496;
    box-shadow: 0 0 2em #000;
 
}

.search {
    height: 30px;
}

